.header {
	background-image: url('http://alqueria.cl/bg/images/image1.jpg');
	background-size: cover; 
}

.header h1 {
	margin-left: 100px;
	font-size: 48px;
	color: white;
}

.section-two {
	background-image: url('https://wallpapercave.com/wp/bwNMtPe.jpg');
	background-size: cover; 
}


.slide-1 {
	background-image: url('https://images3.alphacoders.com/114/114869.jpg');
	background-size: cover; 
}

#navbar {
	position: absolute;
	margin-top: 50px;
	width: 75px;
	height: 75px;
	z-index: 1;
	background-image: url('../img/yu.png');
	background-size: cover;
}

#navbar img {
	width: 75px;
}

#menu {
	float: right;
	z-index: 1;
	position: absolute;
}

#menu active {
	color: white;
}

#footer {
	padding-top: 75px;
	padding-bottom: 75px;
	background-color: black;
	color: white;
	height: 300px;
}


.slide-3-btn-box {
	padding-top: 50px;
	margin: auto;
}

.slide-3-btn {
	border-radius: 0px;
	background-color: white;
	color: blue;
	border-color: blue;
	margin: auto;
}


.main-title {
  text-align:left;
  color: white;
  font-family:'Roboto';
  font-weight:300;
  font-size:48px;
  height:100vh;
  overflow:hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
}

.localization {
	padding-left: 100px;
}

.animated-header {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

.animated-header:first-of-type {    
  animation: showup 7s infinite;
}

.animated-header:last-of-type {
  width:0px;
  animation: reveal 7s infinite;
}

.animated-header:last-of-type span {
  margin-left:-355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}

// START CSS ANIMATED ARROW

.start-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.start-arrow .svg-arrow {
  width: 100px;
  height: auto;
  margin: 0 2rem;
  cursor: pointer;
  overflow: visible;
  color: white;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}
.start-arrow .svg-arrow polygon, .start-arrow .svg-arrow path {
  transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
  fill: white;
}
.start-arrow .svg-arrow:hover polygon, .start-arrow .svg-arrow:hover path {
  transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
  fill: #FF4136;
}
.start-arrow .svg-arrow:hover .arrow {
  animation: arrow-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
.start-arrow .svg-arrow:hover .arrow-fixed {
  animation: arrow-fixed-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}

@keyframes arrow-anim {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  5% {
    transform: translateX(-0.1rem);
  }
  100% {
    transform: translateX(1rem);
    opacity: 0;
  }
}
@keyframes arrow-fixed-anim {
  5% {
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
